@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playfair+Display:ital,wght@1,900&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

.slide-in {
    opacity: 0;
    animation: slideIn 1s ease forwards;
  }
  
  .slide-in-left {
    opacity: 0;
    animation: slideInLeft 1s ease forwards;
  }
  
  .slide-in-right {
    opacity: 0;
    animation: slideInRight 1s ease forwards;
  }
  
  .slide-in-bottom {
    opacity: 0;
    animation: slideInBottom 1s ease forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-90px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(90px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInBottom {
    from {
      opacity: 0;
      transform: translateY(90px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .blur-background {
    filter: blur(5px); 
  }
  